
     .radius {
   background: #fff; 
   width: 700px;
   border: 15px solid white; 
   margin-left: 25%;
   }
         
      .leftimg {
   float:left;
   margin: 7px 7px 7px 7;
   }
     
   .menu, .menu ul {
   list-style: none; margin: 0; padding: 0;
   }
   
      .menu {
   background: linear-gradient(to bottom, #fff, #f1f2f2); 
   border: 1px solid #999; 
   padding: 5 px; 
   font: 14px Arial, sans-serif; 
   box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
   }
   
      .menu > li {
   display: inline-block; 
   border-right: 1px solid #fff; 
   position: relative; 
   left: 120px;
   }
   
      .menu a {
   text-decoration: none; 
   color: #4c4c4c; 
   display: block; 
   }
   
      .menu > li > a {
   padding: 10px 15px;
   border-right: 1px solid #d8d8d8; 
   position: relative; z-index: 3; 
   }
  
      .menu ul {
   position: absolute; 
   display: none; 
   width: 200px; 
   background: #fff; 
   box-shadow: 0 0 10px #666; 
   }
      
      .menu ul a {
   padding: 5px 10px;
   }
   
      .menu ul a:hover {
   background: #008df2; 
   color: #fff; 
   }
      
      .menu li:hover ul {
   display: block; 
   }
      
      .menu > li:hover::before {
   content: ''; 
   top: 0; left: 0; right: 0; bottom: 0; 
   box-shadow: 0 5px 10px #666; 
   position: absolute; 
   }
      
      .menu > li:hover > a {
   background: #fff; 
   }
      
      .center {
   text-align: center;
   }
      
      #note {
    float: right; 
    background: #F3F0E9;
    border-radius: 10px; 
    padding: 0 10px;
    margin: 5px 0 5px 10px; 
    width: 170px; 
    font-size: 0.9em; 
    text-align: justify;
   } 

      #not{
    text-align: justify;
    margin: 5px 0 5px 10px;
    }

      .calc { 
     margin: 50px auto; 
     padding: 15px; 
     width: 177px; 
     border: 1px solid #222; 
     border-radius: 4px; 
     background-color: #3d4543; 
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d4543), color-stop(100%, #2f2a2f)); 
     background-image: -webkit-linear-gradient(top, #3d4543, #2f2a2f); 
     background-image: -moz-linear-gradient(top, #3d4543, #2f2a2f); 
     background-image: -ms-linear-gradient(top, #3d4543, #2f2a2f); 
     background-image: -o-linear-gradient(top, #3d4543, #2f2a2f); 
     background-image: linear-gradient(top, #3d4543, #2f2a2f); 
     -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 4px rgba(0, 0, 0, 0.5); 
     box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 4px rgba(0, 0, 0, 0.5); 
     }
     
      .calc-display { 
     margin: 0 0 10px; 
     padding: 3px; 
     background: #222;
     border-radius: 3px; 
     -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.08); 
     box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.08); 
   } 

      .calc-display-input { 
     display: block; 
     width: 90%; 
     padding: 0 8px; 
     font: 26px/35px monospace; 
     color: #444; 
     height: 35px; 
     text-align: right; 
     background-clip: padding-box; 
     border: 1px solid #222; 
     border-radius: 3px; 
     background-color: #bccd95; 
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bccd95), color-stop(100%, #e0f5b1)); 
     background-image: -webkit-linear-gradient(top, #bccd95, #e0f5b1); 
     background-image: -moz-linear-gradient(top, #bccd95, #e0f5b1); 
     background-image: -ms-linear-gradient(top, #bccd95, #e0f5b1); 
     background-image: -o-linear-gradient(top, #bccd95, #e0f5b1); 
     background-image: linear-gradient(top, #bccd95, #e0f5b1); 
     -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.12); 
     box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.12); 
     font-size: 18px;
      font-weight: 800;
   } 

      .calc-row { 
     margin-top: 7px; 
     zoom: 1; 
   } 
   
      .calc-row:before, .calc-row:after { 
     content: ""; 
     display: table; 
   } 
   
      .calc-row:after { 
     clear: both; 
   } 

      .calc-button { 
     float: left; 
     padding: 0; 
     margin: 0 0 0 7px; 
     width: 39px; 
     font: 14px/23px monospace; 
     color: white; 
     text-align: center; 
     text-shadow: 0 1px rgba(0, 0, 0, 0.4); 
     text-decoration: none; 
     background-clip: padding-box !important; 
     border: 0;  
     border: 1px solid rgba(0, 0, 0, 0.8); 
     border-radius: 3px; 
     cursor: pointer; 
     background-color: #313131; 
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #313131), color-stop(100%, #1c1c1c)); 
     background-image: -webkit-linear-gradient(top, #313131, #1c1c1c); 
     background-image: -moz-linear-gradient(top, #313131, #1c1c1c); 
     background-image: -ms-linear-gradient(top, #313131, #1c1c1c); 
     background-image: -o-linear-gradient(top, #313131, #1c1c1c); 
     background-image: linear-gradient(top, #313131, #1c1c1c); 
     -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.08); 
     box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.08); 
   } 
   
      .calc-button:first-child { 
     margin-left: 0; 
   } 
   
      .calc-button:active { 
     background: #282828; 
     -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05); 
     box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05); 
   } 

      .calc-button-gray { 
     background-color: #6f6f6f; 
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6f6f6f), color-stop(100%, #515151)); 
     background-image: -webkit-linear-gradient(top, #6f6f6f, #515151); 
     background-image: -moz-linear-gradient(top, #6f6f6f, #515151); 
     background-image: -ms-linear-gradient(top, #6f6f6f, #515151); 
     background-image: -o-linear-gradient(top, #6f6f6f, #515151); 
     background-image: linear-gradient(top, #6f6f6f, #515151); 
   } 
   
      .calc-button-gray:active { 
     background: #555; 
   }   
   
   .calc-b-blue { 
     background-color: #b0e0e6; 
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, ##b0e0e6), color-stop(100%, #515151)); 
     background-image: -webkit-linear-gradient(top, #b0e0e6, #515151); 
     background-image: -moz-linear-gradient(top, #b0e0e6, #515151); 
     background-image: -ms-linear-gradient(top, #b0e0e6, #515151); 
     background-image: -o-linear-gradient(top, #b0e0e6, #515151); 
     background-image: linear-gradient(top, #b0e0e6, #515151); 
     font-size: 23px;
     width: 170px;
   
   } 
   
      .calc-b-blue:active { 
     background: #555; 
   } 

      .calc-button-DimGrey { 
     background-color: #696969; 
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fffd4), color-stop(100%, #696969)); 
     background-image: -webkit-linear-gradient(top, #7fffd4, #696969); 
     background-image: -moz-linear-gradient(top, #7fffd4, #696969); 
     background-image: -ms-linear-gradient(top, #7fffd4, #696969); 
     background-image: -o-linear-gradient(top, #7fffd4, #696969); 
     background-image: linear-gradient(top, #7fffd4, #696969); 
   } 
   
      .calc-button-DimGrey:active { 
     background: #696969; 
   } 

      .calc-button-DarkRed { 
     background-color: #8b0000; 
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, ##8b0000)); 
     background-image: -webkit-linear-gradient(top, #000000, #8b0000); 
     background-image: -moz-linear-gradient(top, #000000, #8b0000); 
     background-image: -ms-linear-gradient(top, #000000, #8b0000); 
     background-image: -o-linear-gradient(top, #000000, #8b0000); 
     background-image: linear-gradient(top, #000000, #8b0000); 
   } 

      .calc-button-big { 
     font-size: 16px; 
       
   }

